.site_header{
    height: 150px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(53, 114, 247);
}
.logo{
    width: 15%;
    margin-top: 90px;
}
table thead{
    background-color: rgb(35, 123, 255);
    color: white;
}
tbody>tr{
    background-color: lightblue;
}
.grigio{
    color: grey;
}
.giallo{
    background-color: yellow;
}
table{
    border-spacing: 0;
}
.monitor{
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    font-size: 30px;
}
.graph{
    background-image: url("../img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    font-size: 30px;
}