.site_header{
    height: 150px;
    background-image: url("./img/pattern.png");
    background-repeat: repeat;
}
.logo{
    width: 15%;
}
thead{
    background-color: rgb(35, 123, 255);
    color: white;
}
tbody>tr{
    background-color: lightblue;
}
.grigio{
    color: grey;
}
.giallo{
    background-color: yellow;
}