.site_header{
    height: 100px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: lightblue;
}
.logo{
    width: 15%;
    margin-top: 50px;
}
table thead{
    background-color: rgb(35, 123, 255);
    color: white;
}
tbody>tr{
    background-color: lightblue;
}
.grigio{
    color: grey;
}
.giallo{
    background-color: yellow;
}
table{
    border-spacing: 0px;
}